.Services{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    .Services_Content{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        position: relative;

        
        width: 100%;
        .Title{
            position: relative;

            width: 100%;
            text-align: center;
            color: #4285f4;

            font-weight: 1000;
            font-family: sans-serif;
            font-size: 26px;
        }

        .Cards{
            position: relative;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            
            width: 100%;
            .Cards_Content{
                position: relative;

                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;

                gap: 30px;
                
                width: 100%;
                .Card{
                    overflow: hidden;
                    position: relative;

                    width: 22%;
                    border: 1px solid lightgray;
                    box-shadow: 2px 2px lightgray;
                    .Card_Content{
                        position: relative;

                        margin: 10px;
                        .Image_Card{
                            position: relative;

                            max-height: 40%;
                            text-align: center;
                            img{
                                max-width: 100%;
                            }
                        }

                        .Title_Card{
                            position: relative;

                            max-height: 20%;

                            cursor: pointer;

                            p{
                                color: #4f6fce;

                                font-size: 16px;
                                font-family: sans-serif;
                                font-weight: 1000;

                                span{
                                    font-size: 18px;
                                    color: #50a2cb ;
                                    text-decoration: underline #50a2cb 2px;

                                }
                            }
                        }

                        .Text_Card{
                            position: relative;

                            font-size: 16px;
                            font-family: sans-serif;
                            line-height: 22px;

                            max-height: 150px;
                            overflow: hidden;
                            color: rgb(58, 54, 54);

                        }

                        .PLus_Infomration{
                            position: relative;

                            max-height: 10%;

                            margin: 10px;
                            float: right;

                            color: #4f6fce;

                            font-size: 16px;
                            font-family: sans-serif;
                            font-weight: 1000;

                            a{
                                all: unset;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

       
    }
}

@media (max-width:850px) {
    .Services{
        position: relative;
        width: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100%;
        .Services_Content{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            position: relative;
    
            
            width: 100%;
            .Title{
                position: relative;
    
                width: 100%;
                text-align: center;
                color: #4285f4;
    
                font-weight: 1000;
                font-family: sans-serif;
                font-size: 26px;
            }
    
            .Cards{
                position: relative;
    
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                
                width: 100%;
                .Cards_Content{
                    position: relative;
    
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
    
                    gap: 30px;
                    
                    width: 100%;
                    .Card{
                        overflow: hidden;
                        position: relative;
    
                        width: 80%;
                        border: 1px solid lightgray;
                        box-shadow: 2px 2px lightgray;
                        .Card_Content{
                            position: relative;
    
                            margin: 10px;
                            .Image_Card{
                                position: relative;
    
                                max-height: 40%;
                                text-align: center;
                                img{
                                    max-width: 100%;
                                }
                            }
    
                            .Title_Card{
                                position: relative;
    
                                max-height: 20%;
    
                                cursor: pointer;
    
                                p{
                                    color: #4f6fce;
    
                                    font-size: 16px;
                                    font-family: sans-serif;
                                    font-weight: 1000;
    
                                    span{
                                        font-size: 18px;
                                        color: #50a2cb ;
                                        text-decoration: underline #50a2cb 2px;
    
                                    }
                                }
                            }
    
                            .Text_Card{
                                position: relative;
    
                                font-size: 16px;
                                font-family: sans-serif;
                                line-height: 22px;
    
                                max-height: 150px;
                                overflow: hidden;
                                color: rgb(58, 54, 54);
    
                            }
    
                            .PLus_Infomration{
                                position: relative;
    
                                max-height: 10%;
    
                                margin: 10px;
                                float: right;
    
                                color: #4f6fce;
    
                                font-size: 16px;
                                font-family: sans-serif;
                                font-weight: 1000;
    
                                a{
                                    all: unset;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
    
           
        }
    }
}
